<div class="about-container">
  <div class="content-wrapper">
    <!-- Imagem que entra da esquerda -->
    <div class="image-container">
      <img src="../../../../assets/Logo.jpeg" alt="Imagem Descritiva">
    </div>

    <!-- Texto que entra da direita -->
    <div  class="text-container">
      <h2>O Poder das Plantas: Como os Chás Podem Melhorar Sua Saúde</h2>
      <p>Os chás medicinais têm sido usados há séculos para promover o bem-estar. Plantas como camomila, gengibre e hortelã-pimenta são conhecidas por suas propriedades terapêuticas, ajudando a aliviar desde estresse e insônia até problemas digestivos e inflamações. Além de seus benefícios para a saúde, os chás oferecem uma conexão com a natureza e com práticas antigas. Incorporá-los na rotina pode ser um passo simples, mas poderoso, para uma vida mais equilibrada e saudável.</p>      
      <a href="#">Saiba mais</a>
    </div>
  </div>
</div>

